
@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>RBAC Demo - 注册</title>
    <link href="~/Content/login.css" rel="stylesheet" />
    <script src="~/Scripts/jquery-3.2.1.min.js"></script>
</head>
<body>
<div id="login">
    <span class="form-title">注册</span>
    <form action="#" method="post">
        <div class="form-item">
            <label>账号:</label>
            <input type="text" name="UserName" />
        </div>

        <div class="form-item">
            <label>密码:</label>
            <input type="password" name="PassWord" />
        </div>
        <div class="form-item">
            <label>再次输入密码:</label>
            <input type="password" name="rcPassWord" />
        </div>
        <input class="btn" type="button" value="注册" />
    </form>
</div>
<script>
    $(function(){
        $(".btn").click(function () {
            var UserName = $("input[name=UserName]").val();
            var PassWord = $("input[name=PassWord]").val();
            var rcPassWord = $("input[name=rcPassWord]").val();
            if (UserName === "" || PassWord === "" || rcPassWord==="") {
                alert("账号密码不能为空");
                return;
            }

            if (PassWord!==rcPassWord) {
                alert("两次密码不一致");
                return;
            }

            $.ajax({
                url: "@Url.Action("Red")",
                type: "post",
                data: $("form").serialize(),
                success: function(res) {
                    if (res.code === 200) {
                        alert("注册成功");
                        window.location = '@Url.Action("Index","Login")';
                    } else if (res.code === 400) {
                        alert("非法参数");
                        return;
                    } else {
                        alert("注册失败");
                    }
                },
                error: function() {
                    alert("发生错误");
                }
            });
        });
    });
</script>
</body>
</html>
